// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.login-card-area{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    .log-head{
        display: flex;
        font-size: 23px;
        line-height: 30px;
        color: rgba(33, 33, 33, 0.87);
        justify-content: center;
    }
    .logo{
        width: 26px;
        margin-right: 15px;
    }
    .login-card{
        min-width: 410px;
        padding: 30px;
        width: 100%;
        .mb-3{
            margin-bottom: 15px;
        }
    }
    .jt-btn{
        text-transform: capitalize;
        padding: 2px 0;
        font-weight: 300;
        font-size: 16px !important;
    }
    .jt-social-login-seprator {
        margin-top: 30px;
        margin-bottom: 20px;
        .jt-social-login-seprator-line {
            width: 100%;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
            margin: 0 auto;
            display: block;
        }
        .jt-text-or {
            display: block;
            width: 50px;
            color: #212121;
            font-weight: 500;
            font-size: 16px;
            text-transform: capitalize;
            margin: 0 auto;
            margin-top: -13px;
            background: #fff;
            text-align: center;
        }
    }
    .jt-social-link{
        font-size: 15px;
        line-height: 16px;
        color: #212121;
        background: #fff;
        text-transform: capitalize;
        font-weight: 500;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 0;
        border-radius: 4px;
        display: flex;
        padding: 10px 5px;
        text-decoration: none;
        line-height: 25px;
        &:hover{
            opacity: 0.8;
        }
        img{
            width: 24px;
            height: 24px;
            margin-right: 20px;
            margin-left: 20px;
        }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: none;
        -webkit-text-fill-color: #ffffff;
        -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}